node_modules/
dist/
!packages/github-action/dist/
!packages/github-action/dist/**
tsout/
coverage/
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
*.log
.npmrc
.idea/
.vscode/
*.tgz
.turbo/
.cache/
